body{
    background-color: rgba(34, 38, 42);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    color:rgb(245, 255, 245);
}

span {
    white-space: pre-wrap;
  }

#hder{
    text-align: center;
}

#title{
    color:rgb(80, 200, 192)
}
  
.gameContainer{
    position: relative;
    max-width: 1100px;
    width: 100%;
    height: 450px;
    margin: 30px;
    font-size: 30px;
    display: inline-block;
    margin-top: 130px;
}

#startedContainer{
    overflow: hidden;
    height: 450px;
    width: 1100px;
}
#memoryBox{
    text-align: center;
    height: 255px;
    top: 45px;
    position:relative;
    overflow-y: hidden;
}
#piNumbers{
    display: inline-block;
}

#blinkingCursor{
    opacity: 1;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
#inputAnim{
    display: inline-block;
    margin-left:0;
}

.anim{
    animation: pulse 0.1s linear 1;
}
@keyframes pulse {
    25% {transform: scale(1.0);}
    75% {transform: scale(1.36)}
}

#previousDigits{
    letter-spacing: 3px;
    display: contents;
}

#digit{
    position:absolute;
    bottom: 30px;
    left: 50%;
    size: 30px;
}

#score{
    position: absolute;
    right: 30px;
}


#barContainer{
    position: absolute;
    width: 1100px;
    text-align: center;
    bottom: 75px;
}

#bar{
    display: inline-block;
    height: 30px;
    width: 1100px;
    background-color: rgb(80, 200, 192);
    box-shadow: 5px 5px rgba(245, 255, 245);
    border-radius: 25px;
}

.squeeze{
    transition: width 5s linear;
}

.restartButton{
    border: 0;
    bottom: 0;
    left: 537px;
    position: absolute;
    font-size: 24px;
    background-color: transparent;
    color:rgb(80, 200, 192);
    cursor: pointer;
    outline: none;
}
.restartButton:active{
    color: rgb(80, 200, 192) !important;
}
.restartButton:hover{
    color:rgb(245, 255, 245);
}

#gameOverContainer{
    height: 400px; 
    width: 1100px;
}

#tipsContainer{
    font-size: 20px;
    height: 150px;
    width: 100%;
}